.formTable {
    width: 50%;
}
.indexTable {
    margin-left: auto;
    margin-right: auto;
}
#wlc {
    align-self: center;
}
.errorField {
    font-family: "Fira Code", sans-serif;
    color: #ff1016;
    font-size: 20pt;
}